name: Telegram userbot

on:
  push:
  workflow_dispatch:
    
env:
  GitHubMail: "${{ secrets.GHMAIL }}"
  GitHubName: "rahulkhatri137" 
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout
         uses: actions/checkout@main

       - name: Set Git Configs & Secrets
         run: |
           git config --global user.email "${GitHubMail}"
           git config --global user.name "${GitHubName}"
           sudo apt install expect -y

       - name: cloning repo
         continue-on-error: false
         run: |
           expect -c " 
           spawn git clone https://github.com/rahulkhatri137/userg bot
           expect \"Username\"        
           send \"${{ secrets.GHUSER }}\r\"
           expect \"Password\"        
           send \"${{ secrets.GHPASS }}\r\"
           set timeout -5
           catch wait result
           interact"
       - name: Running Bot
         timeout-minutes: 350
         continue-on-error: true
         run: |
           cd bot
           echo "${{ secrets.DPASS }}" | docker login -u rahulkhatri137 --password-stdin
           docker container prune --force || true
           docker build . --rm --force-rm --compress --no-cache=true --pull --file Dockerfile -t ubot
           docker image ls
           docker run --privileged --rm -i ubot
